<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<%= render 'layouts/categories' %>
		<section id = 'con'>
			<%= yield %>
		</section>
		<div class = 'clear'></div>
		<footer>
		
		</footer>
	</body>
</html>